.favorite{
    background-color: #847979;
    padding-top: 3vh;
    padding-bottom: 50%;
    .card{
        width:100%;
        padding:3vh;
    }
    .cards{
        width:100%;
        display: inline-block;
         padding-left: 20%;
         padding-right: 20%;

    }
}
