.navbar{
    line-height: 2;
    box-sizing: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: #313030;
    font-size: 2.6vh;
    text-align: center;
    padding-left: 3vh;
    margin-bottom: 0;
        padding-top: 0%;
    a{    color: #e5d8d8;
        font-family: "Times New Roman", Times, serif;
    

    }
    #logo{
        font-size:5vh;
    }
}