.pay{
    background-color: #847979;
    padding-bottom: 80vh;
    padding-top: 3vh;
    .cards{
        width:100%;
        display: inline-block;
         padding-left: 20%;
         padding-right: 20%;
    }
  
}
#form{
    padding-bottom:6vh;
    padding-left: 30%;
    padding-right: 30%;
    width:100%;
}
#paypal{
    padding-left: 10%;
    z-index: -1;
}

