.account{
    background-color: #847979;
    padding-bottom:70vh;
    
    .loginComponent{
        width:50%;
        display: inline-block;
        padding:5vh;
       
    }
    .registerComponent{
        width:50%;
        float:right;
        padding:5vh;
        
    }
    .logoutComponent{
        width:50%;
        padding:5vh;
        
    }
    p{
        font-size: 3.5vh;
        text-align: center;
    }
    .btn{
        width:30%;
        margin-left: 35%;
    }
}

