.accountSummary{
    background-color: #847979;
    padding-bottom: 30vh;
    .reg{
        width:70%;
        padding-left:28% ;
    }
    p{
        padding-top: 3vh;
        font-size: 3.5vh;
        text-align: center;
    }
    .btn{
        width:30%;
        margin-left: 35%;
    }
}